.ss{
    width: 20px;
    height: 20px;
  
}
.header-title{

}
/* .header-btn .btn1{
    width:150px;
    height:40px;
    background-color:#EEEEEE;
    border-radius:10px;
    text-align:left;

}
.header-btn .btn2{
    width:100px;
    height:40px;
    background-color:rgb(81, 128, 238);
    color:#FFF;
    text-align:right;
    border-radius:20px;
    j
    } */
