.btn1{
    width:180px;
    height:40px;
    margin-right:40px;
    background-color:#EEEEEE;
    border-radius:10px;
}

.btn2{
    width:140px;
    height:40px;
    background-color:#6587dd;
    border-color: #6587dd;
    color:#FFF;
    border-radius:20px;
}